BasedOnStyle: Google
Language: Cpp
AlignEscapedNewlinesLeft: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
BreakBeforeTernaryOperators: false
ContinuationIndentWidth: 2
IncludeBlocks: Preserve
IndentCaseLabels: true
PointerAlignment: Left
