name: CI
on:
  workflow_call:
permissions:
  contents: read
jobs:
  check-formatting-c:
    name: Check Formatting (C)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.4
      - name: Check formatting
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 12
  check-formatting-markdown:
    name: Check Formatting (Markdown)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.4
      - name: Check formatting
        uses: davidanson/markdownlint-cli2-action@v16.0.0
        with:
          globs: '**/*.md'
  build:
    name: Build
    runs-on: windows-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        build-type:
          - Debug
          - Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.4
        with:
          submodules: true
      - name: Build
        shell: cmd
        run: build ${{matrix.build-type}}
      - name: Report size
        run: du -hb game/out/rom_final.bin
