name: CI
on:
  workflow_call:
permissions:
  contents: read
jobs:
  check-formatting-c:
    name: Check Formatting (C)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Check formatting
        uses: jidicula/clang-format-action@v4.16.0
        with:
          clang-format-version: 18
  check-formatting-markdown:
    name: Check Formatting (Markdown)
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Check formatting
        uses: davidanson/markdownlint-cli2-action@v22.0.0
        with:
          globs: '**/*.md'
  build:
    name: Build
    runs-on: windows-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        build-type:
          - Debug
          - Release
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
        with:
          submodules: true
      - name: Build
        shell: bash
        run: ./build.sh -b ${{matrix.build-type}}
      - name: Upload result
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v6.0.0
        with:
          name: Build (${{matrix.build-type}})
          path: game/out/rom_final.bin
