name: Pull Request
on:
  pull_request:
    branches: main
permissions:
  contents: read
jobs:
  ci:
    name: CI
    uses: ./.github/workflows/ci.yml
  label:
    name: Label
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    timeout-minutes: 5
    steps:
      - name: Apply labels
        uses: actions/labeler@v3.1.0
        with:
          repo-token: ${{github.token}}
