name: Sync Labels
on:
  push:
    branches: main
    paths:
      - .github/workflows/sync-labels.yml
      - .github/labels.yml
  workflow_dispatch:
permissions:
  contents: read
  issues: write
concurrency: sync-labels
jobs:
  sync-labels:
    name: Sync Labels
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.6
      - name: Sync labels
        uses: micnncim/action-label-syncer@v1.3.0
        with:
          token: ${{github.token}}
